 body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
    }

    .form-container {
      background: white;
      padding: 30px 40px;
      margin: 100px auto;
      width: 500px;
      border-radius: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
    

    h1 {
      text-align: center;
      font-size: 32px;
      margin-bottom: 30px;
      color: rgb(10, 102, 194);
    }

    .form-row {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
    }

    .form-row label {
      width: 80px;            
      font-weight: lighter;
      text-align: right;
      margin-right: 15px;
    }

    .form-row input {
      flex: 1;                
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    .required {
        color: red;
        font-weight: bold;
        margin-left: 5px;
        visibility: hidden;
       }

.required.visible {
    visibility: visible;
       }
input:focus {
        border: 1px solid rgb(19,163,247);
        outline: 1px solid lightblue;
        background-color: #f0f8ff ;
        transition: background-color 0.3s;
       }

 .back-button,.btn-primary {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 18px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
     color: #222;
    transition: background-color 0.2s, box-shadow 0.2s;
} 

 .back-button:hover,.btn-primary:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
} 
a:link { 
  text-decoration: none; 
}
.skandh {
    max-height: 50px;
    /* width: auto;
    padding: 0; */
}

.top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 10px;
    right: 20px;
}
.top-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10px;
    left: 20px;
}
.s3logo {
    margin-top: 5px;
    max-height: 50px;
    margin-bottom: 5px;
}