<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Fields capture</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/inventory.css')}}">
</head>
<body>
    <header class="login-header">
        <div class="top-left">
        <img class="skandh" src="{{ url_for('static', filename='images/skandh.png') }}" alt="Skandh Logo">
        </div> 
        <div class="top-right">
            <img class="s3logo" src="{{ url_for('static', filename='images/s3logo_new.png') }}" alt="S3 Logo">
        </div>
    </header>
    <div class="form-container">
    <form id="inventory_capture_2">
        <h1>Inventory Capture</h1>

            <div class="form-row">
            <label for="locn">LOCN :<span class="required">*</span></label>
            <input id="locn" type="text" name="locn" >
            </div>

 
            <div class="form-row">
            <label for="sku">SKU :<span class="required">*</span></label>
                <input id="sku" type="text" name="sku" >
            </div>

            <div class="form-row">
            <label for="case">LPN :<span class="not-required"></span></label>
                <input id="case" type="text" name="LPN" >
            </div>

         
            <div class="form-row">
            <label for="uom">UOM :<span class="required">*</span></label>
                <input id="uom" type="text" name="uom" >
            </div>

         
            <div class="form-row">
            <label for="qty">QTY :<span class="required">*</span></label>
                <input id="qty" type="text" name="qty" >
            </div>

            <div id="form-message" class="message-area"></div>
            <div class="form-actions">
              <div class="left-actions">
                 <button type="button" class="back-button" onclick="window.location.href='/' ">ESC</button>
              </div>
            <div class="right-actions">
                 <button type="button" id="download_excel_btn" class="btn-primary">Download</button>
            </div>
            </div>

             <div id="download-message"></div>
     
    </div>

    </form>

    <script src="{{url_for('static',filename='js/inventory.js')}}"></script>
</body>
</html>