<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
        <header class="login-header">
        <div class="top-left">
        <img class="skandh" src="{{ url_for('static', filename='images/skandh.png') }}" alt="Skandh Logo">
        </div> 
        <div class="top-right">
            <img class="s3logo" src="{{ url_for('static', filename='images/s3logo_new.png') }}" alt="S3 Logo">
               <a href="{{ url_for('logout') }}">
    <button class="logout-btn"  type="button">Logout</button></a>
        </div>
    </header>
    <div class="main-container">
        <div class="main-form">
        <h2 class="section-title">Inventory Selection</h2>
                    <form id="main-page" action="{{ url_for('firstpage') }}" method="GET">
                <div class="options-list">
                    <div class="option-item">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="button" id="download_excel_btn" class="option-button">
                            <span class="option-number">1 -</span>
                            <span class="option-text">Generate ASN and Download </span>
                        </button>
                    </div>
                    <div class="option-item">
                        <button type="submit" class="option-button">
                            <span class="option-number">2 -</span>
                            <span class="option-text">Inventory Capture</span>
                        </button>
                    </div>
                </div>
            </form>
         {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        </div>
        <div id="download-message"></div>
    </div>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>