<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
       <div class="app-title">
        <h1>sInvUpload<sup>™</sup></h1>
    </div>
    <div class="login-container">
        <div class="login-form">
            <form method="POST">
                <div class="input-group">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label for="username">Username :</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="input-group">
                    <label for="password">Password :</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="login-btn">
                    <input type="submit" value="Register">
                </div>
            </form>
            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}
            <p class="register-link">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </div>
     <div class="logo-container">
       <div class="logo-content">
        <img class="s3-logo" src="{{ url_for('static', filename='images/s3logo_new.png') }}" alt="S3 Logo">
        <span class="logo-text">By S3 Group, Inc.</span>
       </div>
    </div>
</body>
</html>
